[Desktop Entry]
Name=Autodesk Identity Manager
Exec=/opt/Autodesk/AdskIdentityManager/Current/AdskIdentityManager %u
Type=Application
MimeType=x-scheme-handler/adskidmgr;x-scheme-handler/adsk.idmgr;
NoDisplay=true
